.card-body {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.remove-button {
  width: 100%;
}

.button-plus-less {
  display: flex;
  align-items: center;
}

.plus-button,
.minus-button {
  max-width: 15% !important;
}

.card-body button.btn-primary {
  background-color: #6a00ff;
  width: 175px;
  max-width: 60%;
}

.card-body button.btn-primary:disabled {
  background-color: #6c757d;
}

.card-body button.btn-primary:disabled:hover {
  cursor: not-allowed;
}

.card-body p.card-text.stock {
  color: #28a745;
}

.card-body p.card-text.stock.out-of-stock {
  color: #6a00ff;
}
