.container-fluid {
    margin: 0 auto;
    max-width: 100%;
    margin-top: 20px;
  }
  
  /* Style the category list */
  .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .category-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .category-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .product-list {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
    display: none;
  }
  
  .product-list li {
    margin-bottom: 5px;
  }
  
  /* Style the shopping cart */
  .card-header+.card-body {
    font-size: 18px;
  }
  
  .card-header+.card-body p {
    margin-bottom: 0;
  }
  
  /* Style the footer */
  footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
  }
  
  /* Style links in the footer */
  footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  /* New style added to move product information to the right side of the card */
  .card {
    display: flex;
    flex-direction: column;
  }
  
  .card-product{
    display: flex;
    flex-direction: row;
  }
  
  .card-img{
    width: auto !important;
    display: flex;
    align-items: center;
  }
  
  .card-img img {
    opacity: 1;
    transition: transform 0.2s ease-in-out;
    height: 150px;
    width: 150px;
    margin-left: 10px;
  }
  
  .card-body button.btn-primary {
    background-color: #007bff;
  }
  
  .card-body button.btn-primary:disabled {
    background-color: #6c757d;
  }
  
  .card-body button.btn-primary:disabled:hover {
    cursor: not-allowed;
  }
  
  .card-body p.card-text.stock {
    color: #28a745;
  }
  
  .card-body p.card-text.stock.out-of-stock {
    color: #dc3545;
  }
  
  .card-img img.out-of-stock {
    opacity: 0.5;
  }
  
  .card-img img.out-of-stock:hover {
    opacity: 1;
  }
  
  .card-img img:hover {
    transform: scale(1.3);
    width: 250px;
  }